<script>
    import Layout from './layout.svelte'
    import Chart from './homeComponents/chart.svelte'
    import Table from './homeComponents/table.svelte'

    export let dataCount;
    export let data
</script>
<Layout>
    <Chart>

    </Chart>
    <Table>

    </Table>
</Layout>

<style>
    .cards-centered {
        width: 90%;
        margin-left: auto !important;
    }

    @media only screen and (max-width: 600px) {
        .cards-centered {
            width: 100%;
            margin-right: auto !important;
        }
    }
</style>