<script>
    export let items;
    export let type;
</script>

<div class="ui menu">
    <a href="/">
        <h3 class="header item">
            RedAnt
        </h3>
    </a>
        <div class="ui simple dropdown item">
            Requests
            <i class="dropdown icon"></i>
            <div class="menu">
                <a href="/requests/outgoing" class="item">Outgoing</a>
                <a href="/requests/incoming" class="item">Incoming</a>
            </div>
    </div>
</div>

<div class="layout">
    <div class="ui container">
        <slot> </slot>

    </div>

</div>

