<script>
    import axios from 'axios'
    import * as am4core from "@amcharts/amcharts4/core";
    import * as am4charts from "@amcharts/amcharts4/charts";
    import am4themes_animated from "@amcharts/amcharts4/themes/animated";
    import { onMount } from 'svelte';

    let chartData;
    let chartApis;
    let timeWindow = 1;
    let timeSelected = [
        {id: 1, timeWindow: "1 uur"},
        {id: 2, timeWindow: "1 dag"},
        {id: 3, timeWindow: "1 week"},
        {id: 4, timeWindow: "1 maand"}
    ];
    let selected = '';

    function getData() {
        axios.get('/chart/' + timeWindow)
                .then(function (response) {
                    chartData = response.data.data.data;
                    chartApis = response.data.data.apis;
                    console.log(chartData);
                    for(let i = 0; i < chartData.length; i++) {
                        chartData[i]['date'] = new Date(chartData[i]['date'])
                    }

                    createChart();
                })
                .catch(error => {
                    console.error(error);
                });
    }

    function createChart() {
        am4core.ready(function () {
            am4core.useTheme(am4themes_animated);

            let chart = am4core.create("chart", am4charts.XYChart);

            let dateAxis = chart.xAxes.push(new am4charts.DateAxis());
            dateAxis.renderer.grid.template.location = 0;

            let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            chart.data = chartData;
            valueAxis.max = 999;
            valueAxis.min = 0;

            function createSeries(field) {
                let series = chart.series.push(new am4charts.LineSeries());
                series.dataFields.valueY = field;
                series.dataFields.dateX = "date";
                series.name = field;
                series.tooltipText = "{valueY} ms";
                series.strokeWidth = 2;
                series.fillOpacity = 0.6;

                let bullet = series.bullets.push(new am4charts.CircleBullet());
                bullet.circle.stroke = am4core.color("#fff");
                bullet.circle.strokeWidth = 2;
                return series;
            }

            let i = 0;
            for (i = 0; i < chartApis.length; i++) {
                eval("let series" + i + "= createSeries(chartApis[i]['api'])");
            }

            chart.legend = new am4charts.Legend();
            chart.cursor = new am4charts.XYCursor();
            chart.scrollbarY = new am4core.Scrollbar();
            chart.scrollbarY.parent = chart.leftAxesContainer;
            chart.scrollbarY.toBack();

            let dateFormat;
            if (timeWindow === 1) {
                dateFormat = "HH:mm";
                dateAxis.baseInterval = {
                    "timeUnit": "minute",
                    "count": 1
                };
            } else if (timeWindow === 2) {
                dateFormat = "HH:mm";
                dateAxis.baseInterval = {
                    "timeUnit": "hour",
                };
            } else {
                dateFormat = "MM-dd-yyyy"
            }
            dateAxis.dateFormatter.dateFormat = dateFormat;

        });
    }
    getData();
    function changeTimeWindow(changeTime) {
        timeWindow = changeTime;
        am4core.disposeAllCharts();
        getData()
    }

</script>

<style>
    #chart {
        height: 500px;
        width: 100%;
    }
</style>

<div>
    <div class="ui grid" style="padding-top: 10px">
        <div class="eight wide column">
            <h1 class="ui header">Response time:</h1>

        </div>

        <div class="eight wide column">
            <div class="ui form" style="width: 40%; margin-left: auto">
                <div class="field">
                    <select bind:value={selected} on:change="{() => changeTimeWindow(selected)}">
                        {#each timeSelected as select }
                            <option value={select.id}>
                                { select.timeWindow }
                            </option>
                        {/each}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div id="chart"></div>

</div>









