<script>

    export let data;
    export let actions;
    export let view;

</script>
<table class="ui striped celled table" style="margin-bottom: 20px">
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Response time</th>
        <th>API link</th>
        {#if actions}
            <th>actions</th>
        {/if}
    </tr>
    </thead>
    <tbody>
    {#each Object.values(data) as object }
        <tr>
            {#each Object.values(object) as row}
                {#if row === 0}
                    <td><div class="ui right icon label">Unknown <i class="question circle outline icon"></i> </div> </td>
<!--                    Store the statusses in 0, 1 and 2 in the database-->
                {:else if row === 1}
                    <td><div class="ui right icon green label">Running <i class="check icon"></i> </div> </td>
                {:else if row === 2 }
                    <td><div class="ui right icon red label"> Error <i class="exclamation icon"></i> </div> </td>
                {:else if row < 100}
                    <td style="color: green;">{row} ms</td>
                {:else if row < 500}
                    <td style="background-color: rgba(249, 167, 26, 0.30); box-shadow: 0 0 0 #e0b4b4 inset;">{row} ms</td>
                {:else if row < 999}
                    <td style="background-color: rgba(255, 98, 0, 0.30);">{row} ms <i class="exclamation triangle icon"></i> </td>
                {:else if row === 999}
                    <td style="background-color: rgba(255, 0, 0, 0.30);">{row} ms <i class="exclamation triangle icon"></i></td>
                {:else}
                    <td>{row}</td>
                {/if}
            {/each}
            {#if actions}
                {#if view}
                    <td><button class="ui icon button"><i class="eye icon"></i> </button> </td>
                {/if}
            {/if}
        </tr>
    {/each}
    </tbody>
</table>