<script>
    import Overlay from '../requestComponents/overlay.svelte';
    import axios from 'axios';

    let rows;
    let apis;
    let loading = true;
    let apisArray = [];

    function getData() {
        axios.get('/apis/info')
                .then(function (response) {
                    rows = response.data.data.data;
                    apis = response.data.data.apis;

                    for(let i = 0; i < apis.length; i++) {
                        apisArray.push(apis[i]['api'])
                    }
                    console.log(apisArray, rows)
                }).catch(error => {
                    console.error(error)
                }).finally(() => {
            loading = false;
        });
    }
    getData()
</script>

{#if loading}
    <Overlay>

    </Overlay>
    {:else}
    <table class="ui striped celled table">
        <thead>
        <th>API</th>
        <th>Totale aantal requests</th>
        <th>Requests deze maand</th>
        <th>Requests vandaag</th>
        </thead>
        <tbody>
            {#each apis as api}
                <tr>
                    <td>
                        {api.api}
                    </td>
                    <td>
                        {rows[api.api].requestsTotal}
                    </td>
                    <td>
                        {rows[api.api].requestsPerMonth}
                    </td>
                    <td>
                        {rows[api.api].requestsPerDay}
                    </td>
                </tr>
            {/each}
        </tbody>
    </table>
{/if}
