<script>
    import { fade } from 'svelte/transition';

</script>

<div transition:fade class="ui dimmer visible" style="display: flex !important; opacity: 1; min-height: 100%; position: fixed">
</div>

<div class="ui modal" transition:fade="{{delay: 0, duration: 300}}" style="display: block; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <div class="header">
        <slot name="header"></slot>
    </div>

    <div class="content">
        <slot name="content"></slot>

    </div>

    <div class="actions">
        <slot name="actions"></slot>
    </div>
</div>