<script>
    import Layout from '../layout.svelte'
    import Table from './table.svelte'

    export let type;
</script>
<Layout>

    <Table type="{type}"></Table>
</Layout>
<style>
    .cards-centered {
        width: 90%;
        margin-left: auto !important;
    }

    @media only screen and (max-width: 600px) {
        .cards-centered {
            width: 100%;
            margin-right: auto !important;
        }
    }
</style>