<script>
    export let current_page;
    export let last_page;
    export let per_page;
    export let to;
    export let total;

    import { createEventDispatcher } from 'svelte';

    const dispatch = createEventDispatcher();

    function paginate() {
        let pagination = [...Array(10).keys()].map(i => i + current_page).slice(0, 10);
        let len;

        if (pagination.length > 9) {
            len = 9
        } else {
            len = 0
        }
        if (pagination[0] > last_page - len) {
            if (Math.ceil(total / per_page < 10)) {
                pagination = [...Array(Math.ceil(total / per_page) + 1).keys()].map(i => i).slice(1, Math.ceil(total / per_page) + 1);
            } else {
                pagination = [...Array(last_page - 9).keys()].map(i => i + (last_page - 9)).slice(0, 10);
            }
            return pagination
        }
        for (const value of Object.values(pagination)) {
            if (value > last_page) {
                delete pagination[Object.keys(pagination).find(key => pagination[key] === value)];
            }
        }

        return pagination;
    }

    function changePage(page) {
        if (page !== current_page) {
            dispatch('change', page);
        }
    }
    let i;
</script>
<div class="ui pagination menu">
        <a class="{current_page === 1 ? 'disabled' : ''} item" href="javascript:void(0)" on:click="{() => changePage(current_page - 1)}">
            <span aria-hidden="true">«</span>
        </a>
        {#each paginate(current_page, current_page) as page}
                <a class="{page === current_page ? 'active': ''} item" href="javascript:void(0)" on:click="{() => changePage(page)}">{page}</a>
        {/each}
        <a class="{current_page === last_page ? 'disabled' : ''} item" href="javascript:void(0)" on:click="{() => changePage(current_page + 1)}">
            <span aria-hidden="true">»</span>
        </a>
</div>
