<script>
    export let row;

    import Modal from '../mainComponents/modal.svelte';
    import { slide } from 'svelte/transition';

    let showModal = false;

    let segmentVisible;

    function modal(event) {
        if (showModal === false) {
            document.body.style.overflowY = "hidden";
            showModal = true;
        } else {
            document.body.style.overflowY = "";
            showModal = false;
        }
    }

    function showSegment(event) {
        if(segmentVisible) {
            segmentVisible = false;
            event.srcElement.classList.remove('right');
            event.srcElement.classList.add('down');
        } else {
            segmentVisible = true;
            event.srcElement.classList.remove('down');
            event.srcElement.classList.add('right');
        }
    }
</script>
{#if showModal}
    <Modal on:click="{modal}">
        <h4 class="title" slot="header">
            Request <code>#{row.id}</code>
        </h4>
        <div slot="content">
            <div class="ui grid">
                <div class="eight wide column">
                    <table class="ui striped table">
                        <tbody>
                        <tr><b>API:</b> &nbsp; { row.api }</tr>
                        <tr><b>RequestType:</b> &nbsp;{ row.type }</tr>
                        <tr><b>Response time:</b> &nbsp; { row.response_time }ms</tr>
                        </tbody>
                    </table>
                </div>
                <div class="eight wide column">
                    <div style="background-color: lightgray">
                        <div class="ui">
                            {row.data}
                        </div>
                    </div>

                </div>
            </div>
            <div class="ui divider"></div>
            <h4 class="header">Related requests</h4>
            <div class="ui container">
                <div class="ui segments">
                    <div class="ui segment">
                        <h5 id="1" on:click="{showSegment}">Request #4 <i id="1" class="ui icon caret right"></i> </h5>
                        {#if segmentVisible}
                            <div transition:slide class="ui">
                                fd9aoherohearohsadgohsagdoh
                            </div>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
        <div slot="actions">
            <button class="ui black deny button" on:click="{modal}">Close</button>

        </div>
    </Modal>
{/if}
<tr on:click="{modal}">
    <td>{ row.id }</td>
    <td>{ row.type }</td>
    <td>{ row.status }</td>
    <td>{ row.api }</td>
    <td>{ row.request }</td>
    <td>{ row.created_at }</td>
    <td>{ row.response_time }</td>
</tr>