<script>
    import Overlay from './overlay.svelte';
    import Row from './row.svelte';
    import Pagination from  './pagination.svelte'
    import axios from 'axios';

    export let type;

    let current_page = 1;
    let from = 1;
    let to = 1;
    let per_page = 1;
    let last_page = 1;
    let total = 0;
    let rows = [];
    let max = 25;
    let loading = true;
    let maxSelected = [
        {id: 1, maxSelect: 25},
        {id: 2, maxSelect: 50},
        {id: 3, maxSelect: 75},
        {id: 4, maxSelect: 100}
    ];
    let selected = '';

    function changePage(params) {
        axios.get('/requests/' + type + '/' + params.page + '/' + max,{
        }).then(function (response) {
            current_page = response.data.data.current_page;
            from = response.data.data.from;
            to = response.data.data.to;
            per_page = response.data.data.per_page;
            last_page = response.data.data.last_page;
            total = response.data.data.total;
            rows = response.data.data.data;
            console.log(rows)
                })
                .catch(error => {
                    console.error(error);
                })
                .finally(() => {
                    loading = false;
                });
    }

    function changeMax(changeMax) {
        max = changeMax;
        changePage({page: 1})
    }

    changePage({ page: 1 });
</script>

{#if loading}
    <Overlay>

    </Overlay>
{/if}

<table class="ui striped table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Status</th>
        <th>Api</th>
        <th>Request</th>
        <th>Created at</th>
        <th>Response time</th>
    </tr>
    </thead>
    <tbody>
    {#each rows as row}
        <Row row="{row}">

        </Row>
    {:else}
        <tr>
            <td colspan="100%">
                <h5 class="text-center">There are no requests.</h5>
            </td>
        </tr>
    {/each}
    </tbody>
</table>

<div class="ui two column grid">
    <div class="row">
        <div class="column">
            <div class="ui form">
                <div class="field">
                    <select bind:value={selected} on:change="{() => changeMax(selected)}">
                        {#each maxSelected as select }
                            <option value={select.maxSelect}>
                                { select.maxSelect }
                            </option>
                        {/each}
                    </select>
                </div>
            </div>
        </div>
        <div class="column">
            {#if total > per_page}
                <Pagination
                        {current_page}
                        {last_page}
                        {per_page}
                        {from}
                        {to}
                        {total}
                        on:change="{(ev) => changePage({page: ev.detail, max: max})}">
                </Pagination>
            {/if}
        </div>
    </div>
</div>
